body {
    background-color: rgb(161, 241, 136);
    text-align: center;
}

.card {
    background-color: white;
    width: 350px;
    display: inline-block;
    height: 550px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 10px;
}

img {
    width: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

h1 {
    text-align: center;
}

.button {
    background-color: rgb(113, 197, 96);
    text-decoration: none;
    color: #524f4e;
    border-radius: 45px;
    padding: 2px 25px;
}

h2,
h1 {
    color: #4b0082;
    margin-top: 100px;
    font-size: 40px;
}

header {
    padding: 10px;
}

.menuitem {
    margin: 20px;
    font-size: 25px;
    text-decoration: none;
    color: #800000;
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
    width: 200px;
    border-radius: 45px;
    box-shadow: 3px 5px 3px;
}

caption {
    font-size: 45px;
    color: #4b0082;
    text-shadow: 2px 2px 2px gray;
    margin-bottom: 20px;
}

table {
    margin: 50px auto;
    width: 80%;
    border-collapse: collapse;
}

tr {
    background-color: white;
}

td {
    border-bottom: 1px dashed gray;
    border-left: 1px dashed gray;
    border-right: 1px dashed gray;
}

td,
th {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

th {
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 22px;
    color: white;
    text-shadow: 1px 1px 2px black;
    width: 25%;
}

.basic {
    background-color: #ff0f83;
}

.pro {
    background-color: #0083f5;
}

.gold {
    background-color: #6400de;
}

.platinum {
    background-color: #fca103;
}

.price-text {
    margin: 0;
    box-shadow: 1px 4px 8px gray;
    padding: 15px;
    border-radius: 3px;
    display: inline;
}

.price-wrapper {
    padding: 0;
    height: 90px;
}

.price-button {
    
}